@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --title-color: #000;
  --txt: #000;
  --bg-color: #fff;
  --bg-new: #F3F5F8;
  --hover-txt: #3E31FA;
  --light-bg:#DEE5FD;
  --dark-blue: #2115AB;
  --rm-color-secondary-bg: #EDEBFA;
  --rm-color-secondary-light: #E6DDFF;
  --rm-color-secondary-darkmode: #A991EC;
  --rm-color-secondary-default: #8760F6;
  --rm-color-secondary-dark: #3F18B0;
  --rm-color-tertiary-light: #FFDF9A;
  --rm-color-tertiary-medium: #F2BE4E;
  --rm-color-error-light: #FFF1F6;
  --rm-color-error-bg: #FCE3EC;
  --rm-color-error-darkmode: #FA9ABC;
  --rm-color-error-default: #CA024F;
  --rm-color-error-dark: #9E0038;
  --rm-color-success-light: #F1F9EA;
  --rm-color-success-bg: #E0F2D1;
  --rm-color-success-darkmode: #A2D98C;
  --rm-color-success-default: #3D923D;
  --rm-color-success-dark: #026C02;
  --rm-color-warning-light: #FFF8E9;
  --rm-color-warning-bg: #FEEDC8;
  --rm-color-warning-darkmode: #FFDF9A;
  --rm-color-warning-default: #EAAC30;
  --rm-color-warning-dark: #946300;
}
:root .left {
  left: 3px;
}

.dark_mode {
  --title-color: #fca311;
  --txt: #000;
  --bg-color: #000;
  --span-txt: #fff;
  --bg-new: #161a1d;
  --hover-txt: #3E31FA;
  --light-bg:#DEE5FD;
  --dark-blue: #2115AB;
}
.dark_mode .left {
  left: 44px;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
  width: 100%;
  font-family: "Barlow Condensed", sans-serif;
}

.left {
  left: 3px;
  transition: 0.7s ease;
}

.right {
  left: 44px;
  transition: 0.7s ease;
}

.Navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 8rem 2rem 15rem;
}
.Navigation .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.Navigation .icon i {
  font-size: 1.5rem;
  color: var(--dark-blue);
}
.Navigation .icon .Logo img {
  width: 80px;
}
.Navigation .icon .Logo svg path {
  fill: var(--span-txt);
  stroke: var(--span-txt);
}
.Navigation .images {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.Navigation .images img {
  width: 35px;
  margin: 0 5px;
}
.Navigation .Links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.Navigation .Links .toggle {
  width: 70px;
  padding: 12px 10px;
  border: 1px solid var(--dark-blue);
  border-radius: 20px;
  position: relative;
}
.Navigation .Links .toggle .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  background-color: var(--dark-blue);
}
.Navigation .Links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.Navigation .Links ul li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--span-txt);
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.6s ease;
  font-family: "Barlow Condensed", sans-serif;
}
.Navigation .Links ul li a:hover {
  color: blue;
}

.Schudel {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 60px;
  overflow-x: auto;
  width: 100%;
  padding: 2rem 5rem;
  background-color: var(--bg-new);
}
.Schudel .title {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--span-txt);
  text-transform: uppercase;
  position: absolute;
}
.Schudel .Matches {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.Schudel .Matches .Match {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  text-align: center;
}
.Schudel .Matches .Match .Match_Details {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.Schudel .Matches .Match .Match_Details img {
  text-transform: capitalize;
  width: 50px;
}
.Schudel .Matches .Match .Match_Details .scoore {
  font-size: 1rem;
  font-weight: 500;
  color: var(--span-txt);
}
.Schudel .Matches .Match .Match_Details h1 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--span-txt);
}
.Schudel .Matches .Match .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: var(--span-txt);
}
.Schudel .Matches .Match .details .staduim {
  font-size: 1rem;
  font-weight: 500;
  color: var(--span-txt);
  text-align: center;
  text-transform: capitalize;
}
.Schudel .Matches .Match .details .data {
  font-size: 1rem;
  font-weight: 500;
  color: var(--span-txt);
  text-align: center;
  text-transform: capitalize;
}
.Schudel::-webkit-scrollbar {
  display: none;
}

hr {
  border: 1px solid #bdbdbd;
  width: 70%;
  padding: 0rem !important;
}

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 2rem 8rem;
}
.news .new {
  width: 100%;
  background-color: var(--bg-new);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: auto;
}
.news .new .img {
  width: 60%;
  border-radius: 10px;
}
.news .new .img img {
  width: 100%;
}
.news .new .text {
  width: 40%;
}
.news .new .text p {
  width: 70%;
  font-size: 4rem;
  font-weight: 500;
  color: var(--span-txt);
}
.news .multi_news {
  width: 100%;
}
.news .multi_news .new {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.news .multi_news .new .img {
  width: 100%;
}
.news .multi_news .new .img img {
  width: 100%;
  border-radius: 10px;
}
.news .multi_news .new .text {
  width: 100%;
}
.news .multi_news .new .text p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 500;
  color: var(--span-txt);
  transition: 0.6s ease;
}
.news .multi_news .new .text p:hover {
  color: var(--hover-txt);
}

.ads {
  width: 100%;
  background-color: var(--bg-new);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardMatch {
  position: absolute;
  top: 20vh;
  left: 40%;
  background-color: var(--bg-new);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: auto;
  justify-content: center;
  background-color: #0F2145;
}
.cardMatch .iconclose {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  transition: 0.6s ease;
}
.cardMatch .iconclose:hover {
  color: red;
}
.cardMatch .title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
}
.cardMatch .top_details {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  text-align: center;
  justify-content: center;
}
.cardMatch .top_details img {
  width: 100px;
}
.cardMatch .top_details div p {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
.cardMatch .bottom_details {
  background-color: var(--bg-new);
  width: 100%;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.cardMatch .bottom_details .detail {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
}
.cardMatch .bottom_details .detail span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--span-txt);
  text-transform: capitalize;
}
.cardMatch .bottom_details .detail i {
  font-size: 1.5rem;
  color: var(--dark-blue);
}

.none {
  display: none !important;
}

.playerscont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 4rem 0;
  background-color: var(--bg-color);
}
.playerscont .title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.playerscont .players_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}
.playerscont .players_container .players {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.playerscont .players_container .players .player {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  width: 400px;
  height: 400px;
  padding: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.7s ease-in-out all;
}
.playerscont .players_container .players .player .img {
  width: 100%;
  height: 100%;
}
.playerscont .players_container .players .player .img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.playerscont .players_container .players .player .details {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--txt);
  width: 10%;
  display: none;
}
.playerscont .players_container .players .player .details .country {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.playerscont .players_container .players .player:hover .details {
  display: block;
}

.club {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-new);
  padding: 2rem 7rem;
}
.club .title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--title-color);
  text-transform: uppercase;
}
.club .news .new {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.club .news .new .img {
  width: 100%;
}
.club .news .new .img img {
  width: 100%;
  border-radius: 7px;
}
.club .news .new .text {
  width: 100%;
}
.club .news .new .text p {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--span-txt);
  text-transform: capitalize;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.champions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2rem 7rem;
}
.champions .title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--title-color);
  text-transform: uppercase;
}
.champions .champions_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  margin: 2rem 0;
  width: 100%;
}
.champions .champions_container .champions_img {
  width: 100%;
  height: 100%;
}
.champions .champions_container .champions_img img {
  width: 100%;
  height: 80vh;
  border-radius: 15px;
}
.champions .champions_container .champions_txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.champions .champions_container .champions_txt .champion_trophy {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.champions .champions_container .champions_txt .champion_trophy .champion_title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--span-txt);
  text-transform: capitalize;
  letter-spacing: 2px;
}
.champions .champions_container .champions_txt .champion_trophy .champion_trophy_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  background: linear-gradient(8deg, #3e31fa 19.1%, #8760f6 94.27%);
  padding: 12px;
  border-radius: 0px 20px 20px 0px;
}
.champions .champions_container .champions_txt .champion_trophy .champion_trophy_img span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--bg-color);
}
.champions .champions_container .champions_txt .champion_trophy .champions {
  width: 400px;
}
.champions .champions_container .champions_txt .champion_trophy .Liga {
  width: 800px;
}
.champions .champions_container .champions_txt .champion_trophy .Best {
  width: 100px;
}
.champions .champions_container .champions_txt .champion_trophy .world {
  width: 250px;
}
.champions .champions_container .champions_txt .champion_trophy .copa {
  width: 550px;
}
.champions .champions_container .champions_txt .champion_trophy .super {
  width: 350px;
}

.arrow {
  background-color: var(--dark-blue);
  color: var(--bg-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.6s ease;
  position: absolute;
  bottom: -55px;
  transform: translateY(-50%);
}
.arrow:hover {
  background-color: var(--hover-txt);
}

.Video-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
}

.MinScreen {
  width: 100%;
  min-height: 100vh;
}

@keyframes animateWidth {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-color);
  padding: 2rem 3rem;
}
footer .top_footer .card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
footer .top_footer .card span {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--span-txt);
}
footer .top_footer .card ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
footer .top_footer .card ul li a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--span-txt);
}
footer hr {
  border: 1px solid #bdbdbd;
  width: 70%;
  margin: 2rem 0;
}
footer .Mid_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer .Mid_footer span {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--span-txt);
}
footer .Mid_footer .footer_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
footer .Mid_footer .footer_img img {
  width: 200px;
}
footer .bottom_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  padding: 0 5rem;
}
footer .bottom_footer .Logo svg {
  width: 60px;
  cursor: pointer;
  transition: 0.6s ease;
}
footer .bottom_footer .Logo svg path {
  fill: var(--span-txt);
  stroke: var(--span-txt);
}
footer .bottom_footer .Logo svg:hover {
  transform: scale(1.2);
}
footer .bottom_footer .Social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
footer .bottom_footer .Social i {
  font-size: 1.5rem;
  color: var(--span-txt);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .Navigation {
    padding: 2rem 0;
  }
  .Navigation .Links {
    display: none;
  }
  .news {
    padding: 2rem 0;
  }
  .news .new {
    flex-direction: column;
  }
  .news .new .img {
    width: 100%;
  }
  .news .new .text {
    width: 100%;
  }
  .news .new .text p {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  footer .Mid_footer .footer_img {
    flex-direction: column;
    margin-top: 20px;
  }
  footer .bottom_footer {
    padding: 0;
  }
  .champions .champions_container {
    flex-direction: column;
  }
  .champions .champions_container .champions_img {
    width: 100%;
  }
  .champions .champions_container .champions_txt {
    width: 100%;
  }
  .champions .champions_container .champions_txt .champion_trophy .Liga {
    width: 415px;
  }
  .champions .champions_container .champions_txt .champion_trophy .champions {
    width: 280px;
  }
  .champions .champions_container .champions_txt .champion_trophy .copa {
    width: 320px;
  }
  .champions .champions_container .champions_txt .champion_trophy .super {
    width: 260px;
  }
  .champions .champions_container .champions_txt .champion_trophy .world {
    width: 200px;
  }
  .club .news .new {
    width: 100%;
    align-items: center;
  }
  .club .news .new .text {
    width: 86vw;
  }
  .club .news .new .img {
    width: -moz-max-content;
    width: max-content;
  }
  .club .news .new .img img {
    width: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */